.App {
  height: 100vh;
  color: rgb(7, 67, 121);
  /* display: flex; */
  /* align-items: center;
  justify-items: center; */
  font-family: sans-serif;
  background-color: aquamarine;
}
main {
  background-color: aquamarine;
}
header {
  background-color: rgb(212, 210, 46);
}
footer {
  background-color: rgb(14, 81, 83);
}
